{%extends 'base.html'%}
{%block title%}<title>About</title>{%endblock title%}
{% block content %}
<div class="container">
 <h2 class="mt-5">📝About Taskmate – A Task Management Web App</h2>
Taskmate is a simple yet powerful web application developed using the Django framework. 
Designed with productivity and clarity in mind, Taskmate enables users to manage their daily tasks 
efficiently and stay organized throughout their day. As a mini-project, it aims to showcase core Django 
functionalities while offering a practical solution for task tracking.

At its core, Taskmate allows users to create, view, update, and delete tasks.
 Users can mark tasks as complete or incomplete, providing a visual cue for progress and completion. 
 The application supports essential features such as user authentication, ensuring that each user has a personalized 
 and secure task list. The interface is clean and responsive, built with Bootstrap, making it accessible on both desktop
  and mobile devices.

</div>
{% endblock content %}
